{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block content %}

<div class="sign">
<h2 class="sign-heading">{% trans "Log In" %}</h2>


<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">Register</a> first.{% endblocktrans %}</p>


<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  
  <button class="btn btn-signup" type="submit">{% trans "Log In" %}</button>
</form>

</div>
{% endblock %}
