@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Rubik+Distressed&display=swap');

body {
    background-color: rgba(227,227,227,255);
    color: black;
    font-family: Roboto Condensed;
}

h1 {
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

.band {
    background-color: rgba(216, 216, 233);
}

.link-text {
    color: black;
    text-decoration: none;
}

.link-text:hover {
    text-decoration: underline #445261;
}

.image-border{
    border: #445261 solid 5px;
}

.hover-border:hover{
    border: #445261 solid 8px;
}

.edit-btn:hover {
    font-weight: 600;
}

.add-band-btn {  
    border-radius: 5px;
    background-color: rgba(216, 216, 233);
    padding: 5px 10px;
}

.add-band-text:hover {
    font-size: 110%;
}

.add-alert-btn {
    width: 60%;
    border: solid 2px #445261;
    color: black;
}

.nav-item {
    font-size:24px
}

.nav-item:hover,
.nav-item:active {
    text-decoration: underline;
}


i.fa.fa-bars::before {
    font-size:30px
}

.genre {
    margin-left: 8%; 
    text-align: center;
  }

  .title{
    text-align: center;
    height: 50px;
    font-family: Rubik Distressed;
    font-size: 50px;
    margin: 5%;
  }

  .local-band-text {
    font-family: Rubik Distressed;
  }

  #add-alert:hover {
font-size: 110%;
  }

/*line break used as spacer between genre, as other css won't work, line itself hidden*/
hr {
  color: rgba(227,227,227,255);  
}

h4 {
    font-family: Rubik Distressed;
    text-align: center;
    margin: 5%;
}

/*genre_detail.html*/

.center-contents {
    text-align: center;
    margin-bottom: 8%;
}

.genre-heading-text {
    margin-top: 5px;
} 

.edit-btn {
    width: 125px;
}

/*log in, signup log out boxes*/
.sign {
    background-color: #31313B;
    width: 40%;
    margin: auto; 
    padding: 2%;
    border-radius:8px;
    color: antiquewhite;
}

.sign-heading {
    text-align: center;
}

.btn-signup {
    background-color:antiquewhite;
    color:black; 
    margin: 2%;    
}

.alert {
    background-color:tan;
    color: black;
}

#id_band_bio.textarea {
   width: 90%;
}

.band-btn {
display: block;
margin: auto;
margin-bottom: 10px;
}

.msg-box {
    width: 60%;
}

.footer-links {
    font-size: 20px;
    padding:2%;
    color: black;
}

div.controls > a {
    color: white;
}

/*media queries*/

@media screen and (min-width: 940px) {
    .genre {
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: center;
        }
}

@media screen and (max-width: 550px) {
.genre-image {
    width: 75%;
    }
}

@media screen and (max-width: 517px) {
    .title {
        height: 110px;
        }
    }

.modal {
    color: black;
}

@media screen and (max-width: 750px) {
.band-forms{
    width: 70%;
}
}
