{% extends 'base.html' %} 
{% block content %}


            <div class="genre-detail-heading">
                
                    {% if "placeholder" in genre.genre_image.url %}
                    <img src="/images/default-genre-photo.jpg" width="75%">
                    {% else %}
                    <img src="{{ genre.genre_image.url }}" width="75%">
                    {% endif %}
            </div>
            <div class="genre-detail-heading">
                    <h1>
                        {{ genre.genre_name }}
                    </h1>
                
            </div>
            
            <div>
            <h4>band name here {{ band.band_name }} </h4>
             <h4>bio here {{ band.bio_body }}</h4>
             <h4>image here {{ band.band_image }}</h4>   
            </div>
            

{% endblock content %}

