{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="genre">
    <div>
        
        {% for genre in genre_list %}
        
        <a href="{% url 'genre_detail' genre.slug %}">
        <img class="centre hover-border genre-image image-border" src="{{ genre.genre_image.url }}" alt="image of music catagory">
        <h2 class="link-text mt-3">{{ genre.genre_name }}</h2>
        </a>
        <hr>
        <hr>

        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div>
        {% endif %}
        {% endfor %}
    </div>

</div>

{% endblock %}

</div>
