{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5 left">
            <div class="row">
                <div class="col-md-2">
                    <div>
                        <table>
                            <tr>
                            {% for genre in genre_list %}
                                    <td> <img src="{{ genre.genre_image.url }}"> </td>
                                {% endfor %}
                            </tr>
                    
                            <tr>
                                {% for genre in genre_list %}
                                        <td> <a href="#" class="post-link">
                                            <h2 class="card-title">{{ genre.genre_name }}</h2>
                                        </a> </td>
                                    {% endfor %}
                                </tr>        
                        </table>
                    </div>
                </div>
            </div>

    

{% endblock %}